attrs==18.2.0
autopep8==1.4.3
awsebcli==3.14.10
botocore==1.12.80
cement==2.8.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.3.9
docutils==0.14
Flask==1.0.2
Flask-WTF==0.14.2
graphviz==0.10.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.1.0
numpy==1.14.5
pandas==0.23.3
pathlib-mate==0.0.14
pathspec==0.5.5
pprint==0.1
pycodestyle==2.5.0
pygeoip==0.3.2
python-dateutil==2.7.3
python-geoip==1.2
pytz==2018.5
PyYAML==3.13
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
source==1.2.0
SQLAlchemy==1.2.17
termcolor==1.1.0
urllib3==1.26.5
uszipcode==0.2.2
virtualenv==16.2.0
Werkzeug==0.14.1
WTForms==2.2.1
